mixin requireTag(url)
  - url = url || ''
    script(type='text/javascript', src!=config.static_url('scripts/libs/require.js'))
    script(type='text/javascript')
      include ../static/scripts/libs/require-config.js
    script(type='text/javascript').
      require.config({
        baseUrl:'!{config.static_url('')}' + 'scripts'
      })
      require(['!{url}']);

mixin tracking
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-19755324-26')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-19755324-26');

mixin social(array)
  - var social_js = [];
  each item in array
    if(item==='fb')
      - social_js.push("{'url':'connect.facebook.net/es_ES/sdk.js','type':'fb'}");
      #fb-root
    if(item=='tw')
      - social_js.push("{'url':'platform.twitter.com/widgets.js','type':'tw'}");
    if(item=='gp')
      - social_js.push("{'url':'apis.google.com/js/plusone.js','type':'gp'}");

  script.
    (function(d, u) {
      var s = d.scripts[0],
        i = u.length, g;
      while (i--) {
        if(u[i]) {
          if(u[i]['type'] === 'fb') {
            window.fbAsyncInit = function() {
              FB.init({
                appId      : '!{config.settings.facebook_id}',
                xfbml      : true,
                version    : 'v2.0'
              });
            };
          }
          g = d.createElement('script');
          g.async = true;
          g.type = 'text/javascript';
          g.src = '//' + u[i]['url'];
          s.parentNode.insertBefore(g, s);
        }
      }
    }(document, [!{social_js}]));