extend _layout

prepend html
	- custom.title = 'Diplomado en Marketing Estratégico'
	- custom.body_cls = 'body--home'

block main
	section.home
		video.videoBg(autoplay loop muted)
			source(src!=config.static_url("images/video-bg2.mp4"), type="video/mp4")
		.home__diplomado
			h1 Diplomado en
				br
				span Marketing 
					br 
					span Estratégico
			p.home__diplomado__desc Programa diseñado para que los participantes desarrollen sus capacidades estratégicas en el campo digital.
		.home__socials
			a(href!="https://www.linkedin.com/school/capacitacion-ccl/", target!="_blank")
				img(src!=config.static_url("images/in.png", alt!="Linkedin CCL"))
			a(href!="https://www.facebook.com/capacitacioncamaralima/", target!="_blank")
				img(src!=config.static_url("images/fb.png", alt!="Facebook CCL"))
	.diplomado__info
		.diplomado__info__inner
			.diplomado__info__nav
				ul
					li.diplomado__info__nav--active(data-show="info__presentacion") Presentación
					li(data-show="info__plan") Plan de Estudios
					li(data-show="info__teachers") Docentes
					li(data-show="info__financiamiento") Financiamiento
					li.diplomado__info__nav--info(data-show="info__form") Más información
			.info__container.info__presentacion
				.info__container__title
					p Presentación
				.info__container__content
					h2 Objetivos
					p Obtener los conocimientos que les permitirán la planificación, gestión e implementación de estrategias y acciones de marketing digital orientadas a generar posicionamiento, reconocimiento de marca.
					p Promocionar e impulsar campañas de comunicación en el mundo virtual, a fin de llegar de modo directo y no invasivo a sus potenciales consumidores.
					h2 A quien va dirigido
					p Directivo y ejecutivos de áreas comerciales de empresas que deseen ampliar la visión de los negocios y las posibilidades que se atbren hoy en el mundo de la virtualidad.
					p Comunicadores, relacionistas públicos, administradores, técnicos y estudiantes interesados en adentrarse en el conocimiento sobre la utilización de las redes sociales y otros mecanismos on line para el desarrollo de negocios.
			.info__container.info__plan
				.info__container__title
					p Plan de Estudios
				.info__container__content
					a(href!=config.static_url("pdf/brochure.pdf"), target!="_blank") Descargar brochure
					.info__container__content__modules
						p Módulo 1
						p La Evolución del Marketing
					.info__container__content__modules
						p Módulo 2
						p Estudio del consumidor digital y Branding
					.info__container__content__modules
						p Módulo 3
						p Estrategias de medios digitales
					.info__container__content__modules
						p Módulo 4
						p Content Marketing
					.info__container__content__modules
						p Módulo 5
						p Optimización, Posicionamiento y Publicidad OnLine
					.info__container__content__modules
						p Módulo 6
						p Estrategias de Comunidad y Comercio Digital
					.info__container__content__modules
						p Módulo 7
						p Community Management y Evaluación de Métricas
					.info__container__content__modules
						p Módulo 8
						p Nuevas tendencias del Marketing Digital
					.info__container__content__modules
						p Módulo 9
						p Módulo Integrador
							br 
			.info__container.info__teachers
				.info__container__title
						p Docentes
				.info__teachers__slide.info__container__content.owl-carousel.owl-theme
					.item
						.item__photo
							
							p Dr. Rafael Martínez Campoblanco 
						.item__desc
							p Doctor en Educación, International Lifelong Learning University (Curazao, Reino de los Países Bajos). Magister en Educación, Universidad de Panamá. 
							p Magister y especialista en Entornos Virtuales de aprendizaje. 
							p Licenciado en Educación, Universidad Central de Venezuela. 
							p Especialista en relaciones interinstitucionales entre empresas y universidades latinoamericanas. 
							p Experto en Sistemas de Gestión de Aprendizajes (Moodle, Blackboard y Canvas) para el diseño, creación y tutoría de Entornos Virtuales de Aprendizaje. 
							p Fundador y editor principal del Blog tizavirtual.blogspot.com con más de 130.000 visitas. 
							p Experiencia profesional en el sector público y privado con más de 10 años ocupando cargos de alta responsabilidad. 
							p Promueve el desarrollo de proyectos de emprendimiento digital con impacto social. Actualmente Gerente General de la Universidad Rafael Belloso Sede Perú. 
							p Docente de postgrado de la Universidad San Martin de Porres y de la Universidad Central de Venezuela. 
							p Expositor de TI y Marketing Digital del Centro de Capacitación de la Cámara de Comercio de Lima.

					.item
						.item__photo
							
							p Mag. Jorge Marcos Martínez Campoblanco
						.item__desc
							p Sociólogo especialista en Sociología Digital, Universidad Central de Venezuela. Magister en Gestión Pública, International Lifelong Learning University (Curazao, Reino de los Países Bajos), y Diplomado en Educación, Tecnología y Proyectos, Universidad Central de Venezuela. 
							p Docente Universitario en materias como Hombre, Ciencia y Tecnología, Nuevas Tecnologías en Comunicación e Información, Planificación Estratégica, Metodología de Investigación, Formulación y Evaluación de Proyectos; entre otras. 
							p Se ha desempeñado en Cargos Directivos y Ejecutivos tanto en organizaciones públicas y privadas en Venezuela, España, Estados Unidos y Perú. 
							p Es conferencista internacional en temas relacionados con e-learning, m-learning, Minería de Datos, Bullying, Logística y Cadena de Suministro, y Violencia entre otros temas. 

					.item
						.item__photo
							
							p Lic. Ernesto Montellanos Corzo
						.item__desc
							p Licenciado en Administración de Empresas, Universidad Inca Garcilaso de la Vega, con estudios de especialización en Comunicación Corporativa, Psicología Organizacional, y en Bioética Universidad Católica Argentina Santa María de los Buenos Aires. 
							p Conferencista y capacitador en desarrollo humano, comunicaciones y marketing. Coach y formador de equipos de alto desempeño.
							p Consultor en Imagen y comunicaciones y desarrollo de marca. 
							p Experiencia profesional gerenciando proyectos y empresas en el sector privado tanto en nuestro país como en el extranjero.
							p Experto en negociación multinivel, atención de cuentas claves, Brand management, marketing digital, planificación e implementación de campañas en empresas como Grupo Eduproject Internacional, Phideas SAC, Cappelletti & Asociados SRL Y Himini Editorial. 
							p Docente de la Cámara de Comercio de Lima, Ases Ingenieros y de la Escuela Conjunta de las Fuerzas Armadas. Actualmente Gerente Gerente de Global Bureau Consulting SAC. 

					.item
						.item__photo
							
							p Ing. Renzo André Silva Miranda
						.item__desc
							p Ingeniero de Sistemas, Universidad Inca Garcilaso de la Vega.
							p Especialización en el desarrollo de páginas web, sistemas online, comunicación digital para la gestión de empresas, y marketing digital. 
							p Cuenta con experiencia en el diseño y ejecución de planes de comunicación digital dirigidos a empresas públicas y privadas.
							p Docente de la Universidad San Martin de Porres y en el Centro de Capacitación de la Cámara de Comercio de Lima en temas de Marketing Digital. 
							p Actualmente Gerente General, InnovaWebCom. 

			.info__container.info__financiamiento
				.info__container__title
					p Financiamiento
				.info__financiamiento__slide.info__container__content.owl-carousel.owl-theme
					.item
						h2 Sede Callao
						ul 
							li Inicio: 25 de mayo
							li Frecuencia: sábado de 2:30 p.m. a 6:30 p.m.
							.info__financiamiento__slide__inversion
								ul
									li Inversión de asociado: S/ 2300
									li Inversión de no asociado: S/ 2850
						a(href!="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/fi_diplomado_ca_2019.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Sede Jesús María
						ul 
							li Inicio: 12 de junio
							li Frecuencia: lunes y miércoles 7:00 p.m. a 10:00 p.m.
							.info__financiamiento__slide__inversion
								ul
									li Inversión de asociado: S/ 2300
									li Inversión de no asociado: S/ 2850
						a(href!="https://www.capacitacionccl.edu.pe/wp-content/uploads/2018/04/fi_diplomado_jm_2018.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Sede Los Olivos
						ul 
							li Inicio: 26 de abril
							li Frecuencia: viernes 7:00 p.m. a 10:00 p.m.
							.info__financiamiento__slide__inversion
								ul
									li Inversión de asociado: S/ 2300
									li Inversión de no asociado: S/ 2850
						a(href!="https://www.capacitacionccl.edu.pe/wp-content/uploads/2018/04/fi_diplomado_lo_2018.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Sede San Juan de Miraflores
						ul 
							li Inicio: 11 de mayo
							li Frecuencia: sábado de 9:00 a.m. a 1:00 p.m.
							.info__financiamiento__slide__inversion
								ul
									li Inversión de asociado: S/ 2100
									li Inversión de no asociado: S/ 2600
						a(href!="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/fi_diplomado_sjm_2018.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Sede Santa Anita
						ul 
							li Inicio: 18 de mayo
							li Frecuencia: sábado de 9:00 a.m. a 1:00 p.m.
							.info__financiamiento__slide__inversion
								ul
									li Inversión de asociado: S/ 2300
									li Inversión de no asociado: S/ 2850
						a(href!="https://www.capacitacionccl.edu.pe/wp-content/uploads/2018/04/fi_diplomado_sa_2018.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Chiclayo
						ul 
							li Inicio: 15 de mayo
							.info__financiamiento__slide__inversion
								ul
									li Inversión S/. 2199
						a(href!="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/Ficha-de-Inscripci%C3%B3n-DIPLOMADO-EN-MKT-DIGITAL-ESTRATEGICO.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Huancayo
						ul 
							li Inicio: 17 de mayo
							.info__financiamiento__slide__inversion
								ul
									li Inversión S/. 1699
						a(href!="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/ficha-DIPLOMADO-HUANCAYO.doc", target="_blank")
							| Descargar Ficha de Inscripción
					.item
						h2 Arequipa
						ul 
							li Inicio: 12 de abril
							.info__financiamiento__slide__inversion
								ul
									li Inversión S/. 1699
						a(href!="http://www.capacitacionccl.edu.pe/wp-content/uploads/2014/10/ficha-inscripcion-DIPLOMADO-AREQ..doc", target="_blank")
							| Descargar Ficha de Inscripción

			.info__container.info__form
				.info__container__title
					p Más información
				.info__container__content
					h3 Solicita más información
					form#formularioMKT(method="POST" action="contacto.php" autocomplete="off")
						input(type="text", placeholder="Nombre", name="nombre" minlength="3" required)
						input(type="text", placeholder="Apellido Paterno", name="apellidoPat" minlength="2" required)
						input(type="text", placeholder="Apellido Materno", name="apellidoMat" minlength="2" required)
						input(type="email", placeholder="Email", name="email" minlength="5" required)
						input(type="tel", placeholder="Teléfono", name="telefono" minlength="7" maxlength="9" required)
						select(name="sede")
							option(value="Default" disabled selected) Selecciona tu Sede
							option(value="Jesús María") Jesús María
							option(value="Callao") Callao
							option(value="Los Olivos") Los Olivos
							option(value="San Juan de Miraflores") San Juan de Miraflores
							option(value="Santa Anita") Santa Anita
							option(value="Chiclayo") Chiclayo
							option(value="Huancayo") Huancayo
							option(value="Arequipa") Arequipa
						input(type="checkbox" name="tyc")
						label Autoriza a la CCL 
							span.form__tyc__button el uso de sus datos personales
						input(type="submit" value="Enviar")
						p.form__sendMsg Enviando ...
	.popup
		.popup__container
			p Al aceptar, autoriza que sus datos personales sean conservados y utilizados por la CCL, para fines estadísticos, administrativos y de gestión comercial u otros relacionados con el Estatuto de CCL, incluyendo, el envío de invitaciones a cursos, talleres, charlas y otros eventos que la CCL organice, auspicie o participe, y para la difusión de sus servicios. Sus datos serán conservados en un banco cuyo titular es la CCL, ubicada en Av. Giuseppe Garibaldi 396 - Jesús María. Para el ejercicio de sus derechos sobre los datos, puede dirigirse a la dirección indicada o enviar un correo electrónico a protecciondedatospersonales@camaralima.org.pe. La presente autorización es por tiempo indefinido y podrá ser revocada en cualquier momento.
			label.popup__close Cerrar	

block scripts
	+requireTag('site.home')