extend _layout

prepend html
	- custom.title = 'Gracias | Diplomado en Marketing Estratégico'
	- custom.body_cls = 'body--thanks body--home'

block main
	section.home
		video.videoBg(autoplay loop muted)
			source(src!=config.static_url("images/video-bg2.mp4"), type="video/mp4")
		.home__diplomado
			h1 ¡Gracias por contactarnos!
			p.home__diplomado__desc Pronto nos estaremos contactando contigo.
		.home__socials
			a(href!="https://www.linkedin.com/school/capacitacion-ccl/", target!="_blank")
				img(src!=config.static_url("images/in.png", alt!="Linkedin CCL"))
			a(href!="https://www.facebook.com/capacitacioncamaralima/", target!="_blank")
				img(src!=config.static_url("images/fb.png", alt!="Facebook CCL"))

block scripts
	+requireTag('site.home')