.MenuWeb
  .MenuWebContent
    .MenuWebContent-link
      a(href!="https://www.capacitacionccl.edu.pe/nosotros/", target="_blank")
        | Centro
    .MenuWebContent-link
      a(href!="https://www.capacitacionccl.edu.pe/diplomados/", target="_blank")
        | Diplomados
    .MenuWebContent-link
      a(href!="https://www.capacitacionccl.edu.pe/programas-especializacion-e-integrales/", target="_blank")
        | Programas
    .MenuWebContent-link
      a(href!="https://www.capacitacionccl.edu.pe/cursos-cortos/", target="_blank")
        | Cursos Cortos
    .MenuWebContent-link
      a(href!="https://www.capacitacionccl.edu.pe/seminarios/", target="_blank")
        | Seminarios
    .MenuWebContent-link
      a(href!="http://www.capacitacionccl.edu.pe/cursos-virtuales/", target="_blank")
        | Virtual

.header
  .menu
    .menu__logo
      img(src!=config.static_url("images/ccl-logo.svg", alt!="Logo CCL"))
    ul
      //-li
        a(href="#") Menu 1
        a(href="#") Menu 2
        a(href="#") Menu 3
      li
        #MenuMobile.BurgerMenu
          span
          span
          span
          span