.body--thanks
	.footer
		display none
.body--home
	position relative
	font-family 'Montserrat'
	.header
		position absolute
		top 0	
		left 0
		right 0
	.menu
		padding 8px 15px
		position relative
		.menu__logo
			display inline-block
			img
				width 129px
		ul
			padding 0
			margin 0
			display inline-block
			li
				list-style none
				#MenuMobile
					margin 0
					position absolute
					right 15px
					top 15px
	.videoBg
		position fixed
		width 100%
		left 0
		right 0
		top 0
		bottom 0
		z-index -1
		display none
	.home
		background url('../images/video4.jpg') no-repeat
		background-size cover
		height 80vh
		min-height 500px
		font-family 'Montserrat'
		.home__diplomado
			padding 35vh 40px 0 40px
			h1
				margin 0
				color _white
				text-transform uppercase
				font-family 'Montserrat EB'
				font-size 21px
				span 
					color _yellow
					font-size 35px
					font-family 'Montserrat Bl'
			p 
				font-size 16px
				color _white
				line-height 20px
		.home__socials
			padding 0 40px
			margin-top 35px
			img
				margin 0 5px
				width 30px
	.diplomado__info
		padding 20px 40px
		background #2064a3
		.diplomado__info__nav
			display none
		.info__container
			.info__container__title
				color _yellow
				padding 15px
				background #222e3c
				border 2px solid #222e3c
				p
					margin 0
					font-family 'Montserrat SB'
			.info__container__content
				padding 0 15px
				margin-top 15px
				border-left 2px solid #222e3c
				border-right 2px solid #222e3c
				h2
					color _yellow
					text-transform uppercase
					font-family 'Montserrat EB'
					font-size 18px
					margin 0
				p 
					color _white
					font-size 12px
					line-height 17px
		.info__plan
			.info__container__content
				a
					background _yellow
					color #222e3c
					display inline-block
					padding 12px 5px
					text-decoration none
					font-family 'Montserrat SB'
					font-size 14px
					margin-bottom 25px
				.info__container__content__modules
					padding 12px 0
					border-bottom 2px solid #222e3c
					p
						font-size 14px
						font-family 'Montserrat SB'
						margin 10px 0 0 0 
						&:first-child
							color _yellow	
							font-family 'Montserrat B'
							font-size 16px
							margin 0
		.info__teachers
			position relative
			.info__teachers__slide
				margin-top 15px
			.item
				.item__photo
					img
						width 81px
						display inline-block
						vertical-align middle
						margin-right 8px
						display none
					p 
						color _yellow
						display inline-block
						vertical-align middle
						font-family 'Montserrat B'
						font-size 18px
						margin-top 0
				.item__desc
					p 
						color _white
						font-size 12px
						font-family 'Montserrat L'
						line-height 17px
						text-align justify
		.info__financiamiento
			.info__financiamiento__slide
				padding 15px
				margin 15px 0
				.item
					border 1px solid _yellow
					padding 15px 20px
					h2
						color _white
						font-size 18px
						font-family 'Montserrat B'
						margin 0 0 15px 0
					ul
						padding 0 
						li
							color _white
							font-size 12px
							line-height 17px
							font-family 'Montserrat'
						.info__financiamiento__slide__inversion
							margin 8px 0
							ul 
								li 
									padding 7px
									&:first-child
										color _yellow
										font-weight bold
					a 
						color _yellow
						background #222e3c
						font-size 11px
						text-align center
						text-transform uppercase
						display inline-block
						padding 10px 6px
						text-decoration none
		.info__form
			.info__container__title
				background #2277ff
				color _white
				border-color #2277ff
			.info__container__content
				h3
					color _yellow
					font-size 18px
				form
					input[type="text"],
					input[type="email"],
					input[type="tel"],
					select
						width 100%
						background transparent
						padding 8px 5px
						color #cccdce
						border none
						outline none
						border-bottom 2px solid #222e3c
						font-family 'Montserrat L'
						font-size 12px
						margin 8px 0
					::placeholder
						color _white
						font-weight bold
					select
						option 
							color #cccdce 
							background _darkblue
					label
						font-size 12px
						color #fff
						font-family 'Montserrat EL'
						cursor pointer
						span
							font-family 'Montserrat'
					input[type="checkbox"]
						margin-right 5px
						vertical-align middle
					input[type="submit"]
						background _yellow
						border none
						color #0b131d
						font-size 14px
						text-align center
						width 100px
						padding 10px 0
						font-family 'Montserrat SB'
						margin-top 20px
						
		.info__container
			.info__container__title
				margin 8px 0
				cursor pointer
			.info__container__content
				display none
		.owl-nav
				position absolute
				top 25%
				left 0 
				right 0
				.owl-prev
				.owl-next
					font-size 75px
					color _white
					position absolute
				.owl-prev
					left -35px
				.owl-next 
					right -35px
		.owl-dots
			display none
.footer
	padding 10px
	background #2064a3
	p
		font-size 12px
		text-align center
		margin 5px 0
		color #aab2ba

.form__sendMsg
	display none
	font-size 14px !important

.popup
	position fixed
	left 0
	right 0
	top 0
	bottom 0
	background rgba(0,0,0,.8)
	display none
	.popup__container
		position relative
		top 15vh
		left 0
		right 0
		margin 0 auto
		background _darkblue
		width 100%
		padding 30px
		border 2px solid _yellow
		border-radius 5px
		p 
			color _white
			font-size 12px
			margin 0
			line-height 18px
		label
			background _darkblue
			border 2px solid _yellow
			display block
			cursor pointer
			font-size 12px
			color _white
			text-align center
			padding 10px
			margin 8px auto 0
			width 150px
				
@media screen and (min-width: 700px)
	.body--home
		.menu
			.menu__logo
				img
					width 155px
		.home
			.home__diplomado
				h1
					font-size 32px
					span
						font-size 50px
				p.home__diplomado__desc
					width 360px

@media screen and (min-width: 1000px)
	.body--home
		.menu
			padding 50px 70px
			ul
				li
					#MenuMobile
						right 70px
						top 55px
		.home
			.home__diplomado
				padding 45vh 130px 0
			.home__socials
				padding 0 130px
		.diplomado__info
			padding 20px 130px
			.diplomado__info__nav
				display block
				margin-bottom 25px
				ul
					margin 0
					padding 0
					li 
						list-style none
						color _yellow
						font-family 'Montserrat SB'
						font-size 13px
						padding 15px 0
						text-align center
						background #222e3c
						border 2px solid #222e3c
						display inline-block
						width 19.5%
						transition all .5s ease
						cursor pointer
						&:hover,
						&.diplomado__info__nav--active
							background transparent
							color _white
						&.diplomado__info__nav--info
							background #2277ff
							color _white
							border-color #2277ff
							&:hover
								background transparent
								border 2px solid #222e3c
								color _white
			.info__container
				.info__container__title
					display none
			.info__presentacion
				.info__container__content
					display block
					

@media screen and (min-width: 1250px)
	.popup
		.popup__container
			width 500px
			top 25vh
	.MenuWeb 
		.MenuWebContent
			font-size 58px
	.body--home
		.menu
			.menu__logo
				img
					width 210px
		.videoBg
			display block
		.home
			background none
			height 80vh
			.home__diplomado
				padding 28vh 130px 0
				p
					font-size 18px
					line-height 26px
				p.home__diplomado__desc
					width 400px
		.diplomado__info 
			.diplomado__info__inner
				max-width 1250px
				margin 0 auto 
			.diplomado__info__nav 
				ul 
					li
						font-size 15px
			.info__container
				.info__container__content
					h2
						font-size 20px
					p 
						font-size 15px
						line-height 21px
					a 
						font-size 16px
					.info__container__content__modules
						p
							font-size 16px
							&:first-child
								font-size 18px
			.info__presentacion
				.info__container__content
					padding 0 80px
					h2
						margin-top 30px
			.info__plan
				.info__container__content
					padding 0 80px
			.info__teachers
				.item
					padding 0 30px 30px 30px
					.item__desc
						p
							font-size 14px
							line-height 20px
			.info__financiamiento
				.info__financiamiento__slide
					padding 15px 35px
					.item
						padding 15px 40px
						margin 0 50px
						ul
							li 
								font-size 14px
								line-height 20px
						a 
							font-size 13px
			.info__form
				.info__container__content
					padding 0 80px
					form
						input[type="text"],
						input[type="email"],
						input[type="tel"],
						select
							font-size 14px
							color _white
						::placeholder
							color _white
							font-weight bold
						input[type="submit"]
							display block
							font-size 16px
							cursor pointer
						label
							font-size 14px

@media screen and (min-width: 1900px)
	.body--home
		.home
			height 80vh
			.home__socials
				padding 0 178px
				img 
					width 50px
			.home__diplomado
				padding 32vh 178px 0
		.diplomado__info
			.diplomado__info__inner
				max-width 1650px
			.diplomado__info__nav
				ul
					li
						font-size 17px
			.info__container
				.info__container__content
					h2
						font-size 22px
					p 
						font-size 17px
						line-height 23px
					a 
						font-size 18px
					.info__container__content__modules
						p
							font-size 18px
							&:first-child
								font-size 20px
			.info__plan
				.info__container__content
					//padding 0 320px
					a
						display block
						max-width 195px
					.info__container__content__modules
						width 47%
						display inline-block
						margin 0 15px
						&:last-child
							border-bottom none
						
			.info__teachers
				.item
					.item__desc
						p
							font-size 16px
							line-height 22px
			.info__financiamiento
				.info__financiamiento__slide
					.item
						padding 45px 60px
						ul
							li 
								font-size 16px
								line-height 22px
						a 
							font-size 15px
			.info__form
				.info__container__content
					padding 0 320px
					margin 0 auto
					form
						input[type="text"],
						input[type="email"],
						input[type="tel"],
						select
							font-size 16px
							color _white
						::placeholder
							color _white
							font-weight bold
						input[type="submit"]
							display block
							font-size 18px
							cursor pointer
						label
							font-size 16px