@css {

  @font-face {
    font-family: 'Montserrat L';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat EL';
        src: url('../fonts/Montserrat-ExtraLight.eot');
        src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
            url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
            url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
            url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
        font-weight: 200;
        font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat Bl';
        src: url('../fonts/Montserrat-Black.eot');
        src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Montserrat-Black.woff2') format('woff2'),
            url('../fonts/Montserrat-Black.woff') format('woff'),
            url('../fonts/Montserrat-Black.ttf') format('truetype'),
            url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
        font-weight: 900;
        font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat SB';
        src: url('../fonts/Montserrat-SemiBold.eot');
        src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
            url('../fonts/Montserrat-SemiBold.woff') format('woff'),
            url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
            url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat B';
        src: url('../fonts/Montserrat-Bold.eot');
        src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Montserrat-Bold.woff2') format('woff2'),
            url('../fonts/Montserrat-Bold.woff') format('woff'),
            url('../fonts/Montserrat-Bold.ttf') format('truetype'),
            url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat EB';
        src: url('../fonts/Montserrat-ExtraBold.eot');
        src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
            url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
            url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
            url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
        font-weight: 800;
        font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat M';
        src: url('../fonts/Montserrat-Medium.eot');
        src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Montserrat-Medium.woff2') format('woff2'),
            url('../fonts/Montserrat-Medium.woff') format('woff'),
            url('../fonts/Montserrat-Medium.ttf') format('truetype'),
            url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('../fonts/Montserrat-Regular.eot');
        src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Montserrat-Regular.woff2') format('woff2'),
            url('../fonts/Montserrat-Regular.woff') format('woff'),
            url('../fonts/Montserrat-Regular.ttf') format('truetype'),
            url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

}
